* {
    margin: 0;
    padding: 0;
}
header h1 {
    text-align: center;
}
nav #control {
    margin: -3em 0 5em 85%;
}
.wrapper {
    width:1024px;
    height:768px;
    position: absolute;
    margin: 0 auto;
}
.grid {
    /*background-color: #008000;*/
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.drawing {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 1em;
}
.drawing h2 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: -3em;
}
.drawing h3 {
    font-size: 0.9em;
    text-align: center;
    margin-top: 0;
    height: 2.5em;
}
/* there are 7 funnels */
.one-seventh-width {
    width: 14.2%;
    height: 100%;
    float: left;
    position: relative;
}
.grid-formatting {
    /*
    background: #ffa500;
    outline: 1px solid #fff;
    height: 20%;
    */
}
/* db are ovals that depict the database cylinders */
.db {
    height: 10%
}
.db-top1,
.db-top2,
.db-top3,
.db-top4,
.db-top5 {
    width: 70%;
    border: 4px solid rgba(188, 175, 193, 0.3);
    height: 30%;
    border-radius: 50%;
    left: 15%;
    top: 10%;
    z-index: 7;
    position: relative;
}
/* this trick uses the :before pseudo elements of the ovals to make a second border for divs */
.db-top1:before,
.db-top2:before,
.db-top3:before,
.db-top4:before,
.db-top5:before {
    content: " ";
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #333;
    border-radius: 50%;
}
/* the colors of the ovals */
.db-top2,
.db-top3,
.db-top4,
.db-top5 {
    background-color: rgba(31, 156, 150, 0.3);
}
/* the distance above the db-top1 oval */
.db-top2 {
    top: -26%;
}
.db-top3 {
    top: -61%;
}
.db-top4 {
    top: -96%;
}
.db-top5 {
    top: -115%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.7);
}



/* the last oval is slightly different to help with the 3-d effect */
.db-top6 {
    top: -51%;
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 7;
    background-color: rgba(156,31,31,0.3);
}
.funnel1 {
    width: 70%;
    height: 26%;
    border-radius: 50%;
    top: 76%;
    left: 17%;
    background-color: #15abe4;
    border: 1px solid #fff;
    z-index: 4;
    position: absolute;
    box-shadow: 0 7px 21px #660 inset;
}

.funnel2 {
    top: 81%;
    left: 15%;
    right: 15%;
    width: 71%;
    height: 56%;
    background-color: rgba(31, 156, 150, 0.4);
    z-index: 7;
    position: absolute;
    -webkit-clip-path: polygon(4% 22%, 4% 21%, 8% 25%, 11% 30%, 20% 34%, 36% 40%,
    47% 42%, 67% 41%, 81% 37%, 90% 34%, 97% 29%, 109% 15%, 110% 0%, 73% 100%, 28% 100%);
    clip-path: polygon(4% 22%, 4% 21%, 8% 25%, 11% 30%, 20% 34%, 36% 40%,
    47% 42%, 67% 41%, 81% 37%, 90% 34%, 97% 29%, 109% 15%, 110% 0%, 73% 100%, 28% 100%);
}
/* vertical tubes */
.tube1, .tube6 {
    background-color: rgba(31, 156, 150, 0.4);
    top: 136.9%;
    left: 35%;
    width: 32%;
    height: 99.2%;
    z-index: 7;
    position: absolute;
}
.tube6 {
    height: 294%;
}
/* to give the tube a 3-d effect */
.tube1:before, .tube2:before, .tube6:before, .tube6:after, .tube8:before {
    content: " ";
    position: absolute;
    z-index: 7;
    left: 10%;
    top: 0;
    width: 8%;
    height: 100%;
    background-color: #fff;
    /*border-radius: 3px;*/
}
.tube6:before {
    height: 43%;
}
.tube6:after {
    top:70%;
    height: 27%;
}
.tube2 {
    background-color: rgba(31, 156, 150, 0.4);
    top: 236%;
    left: 46%;
    right: 34%;
    width: 32%;
    height: 42%;
    transform: skew(45deg);
    border-top: 0;
    border-bottom: 0;
    z-index: 7;
    position: absolute;
}
.tube3 {
    background-color: rgba(31, 156, 150, 0.4);
    top:278%;
    left: 71%;
    width: 278%;
    height: 53%;
    transform: skew(45deg);
    z-index: 7;
    position: absolute;
}

.tube4, .tube8 {
    background-color: rgba(31, 156, 150, 0.4);
    top: 236%;
    left: 24%;
    width: 32%;
    height: 42%;
    transform: skew(-45deg);
    z-index: 7;
    position: absolute;
}
.tube8 {
    left: 24%;
    height: 42%;
}
.tube5 {
    background-color: rgba(31, 156, 150, 0.4);
    top: 278%;
    left: -247%;
    width: 278%;
    height: 53%;
    transform: skew(-45deg);
    z-index: 7;
    position: absolute;
}
#control {
    position: relative;
    z-index:100;
}
.pause-animation {
    animation-play-state: paused;
}
.start-animation {
    animation-play-state: running;
}
.packet {
    width: 15%;
    height: 25%;
    position: absolute;
    border-radius:4px;
    z-index: 5;
    animation-duration: 9s, 9s;
    animation-delay: 0s, 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 0;
}
#packet1-1, #packet1-2, #packet1-3, #packet1-4, #packet1-5, #packet1-6, #packet1-7, #packet1-8, #packet1-9 {
    animation-name: drop1;
    animation-delay: 0s;
    left: 45%;
    background-color: #228b22;
}
#packet1-2 {
    animation-delay: 1s;
}
#packet1-3 {
    animation-delay: 2s;
}
#packet1-4 {
    animation-delay: 3s;
}
#packet1-5 {
    animation-delay: 4s;
}
#packet1-6 {
    animation-delay: 5s;
}
#packet1-7 {
    animation-delay: 6s;
}
#packet1-8 {
    animation-delay: 7s;
}
#packet1-9 {
    animation-delay: 8s;
}
#packet2-1, #packet2-2, #packet2-3, #packet2-4, #packet2-5, #packet2-6, #packet2-7, #packet2-8, #packet2-9 {
    animation-name: drop2;
    animation-delay: 0s;
    left: 45%;
    background-color: deepskyblue;
}
#packet2-2 {
    animation-delay: 1s;
}
#packet2-3 {
    animation-delay: 2s;
}
#packet2-4 {
    animation-delay: 3s;
}
#packet2-5 {
    animation-delay: 4s;
}
#packet2-6 {
    animation-delay: 5s;
}
#packet2-7 {
    animation-delay: 6s;
}
#packet2-8 {
    animation-delay: 7s;
}
#packet2-9 {
    animation-delay: 8s;
}
#packet3-1, #packet3-2, #packet3-3, #packet3-4, #packet3-5, #packet3-6, #packet3-7, #packet3-8, #packet3-9 {
    animation-name: drop3;
    left: 45%;
    background-color: #e6951a;
}
#packet3-2 {
    animation-delay: 1s;
}
#packet3-3 {
    animation-delay: 2s;
}
#packet3-4 {
    animation-delay: 3s;
}
#packet3-5 {
    animation-delay: 4s;
}
#packet3-6 {
    animation-delay: 5s;
}
#packet3-7 {
    animation-delay: 6s;
}
#packet3-8 {
    animation-delay: 7s;
}
#packet3-9 {
    animation-delay: 8s;
}
#packet4-1, #packet4-2, #packet4-3, #packet4-4, #packet4-5, #packet4-6, #packet4-7, #packet4-8, #packet4-9 {
    animation-name: drop4;
    left: 44%;
    background-color: purple;
}
#packet4-2 {
    animation-delay: 1s;
}
#packet4-3 {
    animation-delay: 2s;
}
#packet4-4 {
    animation-delay: 3s;
}
#packet4-5 {
    animation-delay: 4s;
}
#packet4-6 {
    animation-delay: 5s;
}
#packet4-7 {
    animation-delay: 6s;
}
#packet4-8 {
    animation-delay: 7s;
}
#packet4-9 {
    animation-delay: 8s;
}
#packet5-1, #packet5-2, #packet5-3, #packet5-4, #packet5-5, #packet5-6, #packet5-7, #packet5-8, #packet5-9 {
    animation-name: drop5;
    left: 45%;
    background-color: brown;
}
#packet5-2 {
    animation-delay: 1s;
}
#packet5-3 {
    animation-delay: 2s;
}
#packet5-4 {
    animation-delay: 3s;
}
#packet5-5 {
    animation-delay: 4s;
}
#packet5-6 {
    animation-delay: 5s;
}
#packet5-7 {
    animation-delay: 6s;
}
#packet5-8 {
    animation-delay: 7s;
}
#packet5-9 {
    animation-delay: 8s;
}
#packet6-1, #packet6-2, #packet6-3, #packet6-4, #packet6-5, #packet6-6, #packet6-7, #packet6-8, #packet6-9 {
    animation-name: drop6;
    left: 45%;
    background-color: #000;
}
#packet6-2 {
    animation-delay: 1s;
}
#packet6-3 {
    animation-delay: 2s;
}
#packet6-4 {
    animation-delay: 3s;
}
#packet6-5 {
    animation-delay: 4s;
}
#packet6-6 {
    animation-delay: 5s;
}
#packet6-7 {
    animation-delay: 6s;
 }
#packet6-8 {
    animation-delay: 7s;
}
#packet6-9 {
    animation-delay: 8s;
}
#packet7-1, #packet7-2, #packet7-3, #packet7-4, #packet7-5, #packet7-6, #packet7-7, #packet7-8, #packet7-9 {
    animation-name: drop7;
    left: 45%;
    background-color: red;
}
#packet7-2 {
    animation-delay: 1s;
}
#packet7-3 {
    animation-delay: 2s;
}
#packet7-4 {
    animation-delay: 3s;
}
#packet7-5 {
    animation-delay: 4s;
}
#packet7-6 {
    animation-delay: 5s;
}
#packet7-7 {
    animation-delay: 6s;
}
#packet7-8 {
    animation-delay: 7s;
}
#packet7-9 {
    animation-delay: 8s;
}


/* ------------------------------------------------- */

@keyframes drop1 {
    0% {
        left: 45%;
        top: 4%;
    }
    5% {
        left: 45%;
        top: 220%;
    }
    10% {
        left: 78%;
        top: 290%;
    }
    15% {
        left: 344%;
        top: 290%;
    }
    20% {
        left: 344%;
        top: 451%;
    }
    21% {
        left: 350%;
        top: 451%;
    }
    100% {
        left: 699%;
        top: 455%;
    }
}
@keyframes drop2 {
    0% {
        left: 45%;
        top: 4%;
    }
    5% {
        left: 45%;
        top: 220%;
    }
    10% {
        left: 74%;
        top: 290%;
    }
    15% {
        left: 244%;
        top: 290%;
    }
    25% {
        left: 244%;
        top: 451%;
    }
    27% {
        left: 250%;
        top: 451%;
    }
    100% {
        left: 575%;
        top: 455%;
    }
}
@keyframes drop3 {
    0% {
        left: 45%;
        top: 4%;
    }
    5% {
        left: 45%;
        top: 220%;
    }
    10% {
        left: 75%;
        top: 290%;
    }
    15% {
        left: 144%;
        top: 290%;
    }
    30%, 100% {
        left: 144%;
        top: 451%;
    }
}
@keyframes drop4 {
    0% {
        left: 44%;
        top: 4%;
    }
    5% {
        left: 44%;
        top: 220%;
    }
    10% {
        left: 44%;
        top: 290%;
    }
    15% {
        left: 44%;
        top: 290%;
    }

    40%, 100% {
        left: 44%;
        top: 451%;
    }
}
@keyframes drop5 {
    0% {
        left: 45%;
        top: 4%;
    }
    5% {
        left: 45%;
        top: 220%;
    }
    10% {
        left: 8%;
        top: 290%;
    }
    15% {
        left: -56%;
        top: 290%;
    }

    45%, 100% {
        left: -56%;
        top: 451%;
    }
}
@keyframes drop6 {
    0% {
        left: 45%;
        top: 4%;
    }
    5% {
        left: 45%;
        top: 220%;
    }
    10% {
        left: 10%;
        top: 290%;
    }
    15% {
        left: -156%;
        top: 290%;
    }
    50%, 100% {
        left: -156%;
        top: 451%;
    }
}
@keyframes drop7 {
    0% {
        left: 45%;
        top: 4%;
    }
    5% {
        left: 45%;
        top: 219%;
    }
    10% {
        left: 8%;
        top: 290%;
    }
    15% {
        left: -256%;
        top: 290%;
    }
    55%, 100% {
        left: -256%;
        top: 451%;
    }
}
.step1 {
    margin: 28% 0 0 12%;
    width: 33%;
}
.step2 {
    margin: 36% 0 0 55%;
    width: 33%;
}
#conveyor-belt-container {
    width: 495px;
    margin: 4% 0 0 38%;
}
#conveyor-belt {
    margin: 4.8% 0 0 10%;
    height: 2.6em;
    width: 100%;
    border: 2px solid #000;
    border-radius: 14px;
    z-index: 10;
    position: relative;
}
.conveyor-belt-roller {
    width: 1em;
    height: 1em;
    border: 2px solid #00f;
    border-radius: 50%;
    margin: 0.7em 0 0 0.4em;
    float: left;
    line-height: 1.2em;
    text-indent: 0.2em;
    font-size: 1em;
    font-weight: 700;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
/*
.packet {display: none;}
#packet1-1,
#packet1-2,
#packet1-3,
#packet1-4,
#packet1-5,
#packet1-6,
#packet1-7,
#packet1-8,
#packet1-9 {display: block;}
#packet1-1 {background-color: red;}
#packet1-2 {background-color: darkred;}
#packet1-3 {background-color: indianred;}
#packet1-4 {background-color: blue;}
#packet1-5 {background-color: cornflowerblue;}
#packet1-6 {background-color: blueviolet;}
#packet1-7 {background-color: green;}
#packet1-8 {background-color: greenyellow;}
#packet1-9 {background-color: darkolivegreen;}
*/