* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width:1024px;
    height:768px;
    background-color: rgba(255,0,0,0.3);
    position: absolute;
    margin: 0 auto;
}
.grid {
    background: #008000;
    width: 100%;
    height: 100%;
    position: absolute ;
    z-index: 0;
}
.drawing {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.one-seventh-width {
    width: 14.2%;
    height: 100%;
    float: left;
    position: relative;
}
.grid-formatting {
    background: #ffa500;
    outline: 1px solid #fff;
    height: 20%;
}
.db {
    height: 10%
}
.db-top1,
.db-top2,
.db-top3,
.db-top4,
.db-top5 {
    width: 70%;
    border: 4px solid rgba(255,0,0,.2);
    height: 30%;
    border-radius: 50%;
    left: 15%;
    top: 10%;
    z-index: 7;
    position: relative;
}
.db-top1:before,
.db-top2:before,
.db-top3:before,
.db-top4:before,
.db-top5:before {
    content: " ";
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #333;
    border-radius: 50%;
}
.db-top2,
.db-top3,
.db-top4,
.db-top5 {

    background-color: rgba(220,70,70,0.1);
}

.db-top2 {
    top: -26%;
}
.db-top3 {
    top: -61%;
}
.db-top4 {
    top: -96%;
}
.db-top5 {
    top: -131%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}




.db-top1 {
}
.db-top4 {
}
.db-top6 {
    top: -51%;
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 7;
    background-color: rgba(156,31,31,0.5);
}
.funnel1 {
    width: 70%;
    border: 1px solid #333;
    height: 26%;
    border-radius: 50%;
    top: 76%;
    left: 17%;
    background-color: #e4a615;
    z-index: 4;
    position: absolute;
    box-shadow: 0 7px 21px #660 inset;
}

.funnel2 {
    top: 81%;
    left: 15%;
    right: 15%;
    width: 71%;
    height: 56%;
    background-color: rgba(220, 70, 70, 0.5);
    z-index: 7;
    position: absolute;
    -webkit-clip-path: polygon(4% 22%, 4% 21%, 8% 25%, 11% 30%, 20% 34%, 36% 40%,
    47% 42%, 67% 41%, 81% 37%, 90% 34%, 97% 29%, 109% 15%, 110% 0%, 73% 100%, 28% 100%);
    clip-path: polygon(4% 22%, 4% 21%, 8% 25%, 11% 30%, 20% 34%, 36% 40%,
    47% 42%, 67% 41%, 81% 37%, 90% 34%, 97% 29%, 109% 15%, 110% 0%, 73% 100%, 28% 100%);
}
.tube1, .tube6 {
    background-color: rgba(220, 70, 70, 0.5);
    top: 136.9%;
    left: 35%;
    width: 32%;
    height: 99.2%;
    z-index: 7;
    position: absolute;
}
.tube6 {
    height: 294%;
}
.tube2 {
    background-color: rgba(220, 70, 70, 0.5);
    top: 236%;
    left: 46%;
    right: 34%;
    width: 32%;
    height: 42%;
    transform: skew(45deg);
    border-top: 0;
    border-bottom: 0;
    z-index: 7;
    position: absolute;
}
.tube3 {
    background-color: rgba(220,70,70,0.5);
    top:278%;
    left: 71%;
    width: 278%;
    height: 53%;
    transform: skew(45deg);
    z-index: 7;
    position: absolute;
}

.tube4, .tube8 {
    background-color: rgba(220, 70, 70, 0.5);
    top: 236%;
    left: 24%;
    width: 32%;
    height: 42%;
    transform: skew(-45deg);
    z-index: 7;
    position: absolute;
}
.tube8 {
    left: 24%;
    height: 42%;
}
.tube5 {
    background-color: rgba(220,70,70,0.5);
    top: 278%;
    left: -247%;
    width: 278%;
    height: 53%;
    transform: skew(-45deg);
    z-index: 7;
    position: absolute;
}
.packet1, .packet2, .packet3, .packet4, .packet5, .packet6, .packet7 {
    width: 15%;
    height: 15%;
    background-color: #228b22;
    position: absolute;
    border-radius:4px;
    z-index: 5;
    animation-name: drop1;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(.8,.1,1,.04);
    animation-iteration-count: infinite;
    left: 48%;
    top: 0;
}
.packet2 {
    animation-name: drop2;
    left: 48%;
    background-color: deepskyblue;
}
.packet3 {
    animation-name: drop3;
    left: 48%;
    background-color: beige;
}
.packet4 {
    animation-name: drop4;
    left: 48%;
    background-color: deepskyblue;
}
.packet5 {
    animation-name: drop5;
    left: 48%;
    background-color: red;
}
.packet6 {
    animation-name: drop6;
    left: 48%;
    background-color: deepskyblue;
}
.packet7 {
    animation-name: drop7;
    left: 91%;
    background-color: red;
}
@keyframes drop1 {
    0% {
        left: 45%;
        top: 4%;
    }
    20% {
        left: 45%;
        top: 220%;
    }
    30% {
        left: 76%;
        top: 290%;
    }
    40% {
        left: 344%;
        top: 290%;
    }

    60%, 100% {
        left: 344%;
        top: 450%;
    }
}
@keyframes drop2 {
    0% {
        left: 45%;
        top: 4%;
    }
    20% {
        left: 45%;
        top: 220%;
    }
    30% {
        left: 74%;
        top: 290%;
    }
    40% {
        left: 244%;
        top: 290%;
    }

    60% {
        left: 244%;
        top: 400%;
    }
    80%, 100% {
        left: 244%;
        top: 450%;
    }
}
@keyframes drop3 {
    0% {
        left: 45%;
        top: 4%;
    }
    20% {
        left: 45%;
        top: 220%;
    }
    30% {
        left: 75%;
        top: 290%;
    }
    40% {
        left: 145%;
        top: 290%;
    }
    60% {
        left: 145%;
        top: 400%;
    }
    80%, 100% {
        left: 145%;
        top: 450%;
    }
}
@keyframes drop4 {
    0% {
        left: 45%;
        top: 4%;
    }
    20% {
        left: 45%;
        top: 220%;
    }
    30% {
        left: 45%;
        top: 290%;
    }

    40% {
        left: 45%;
        top: 290%;
    }
    60% {
        left: 45%;
        top: 400%;
    }

    80%, 100% {
        left: 45%;
        top: 450%;
    }}
@keyframes drop5 {
    0% {
        left: 45%;
        top: 4%;
    }
    20% {
        left: 45%;
        top: 220%;
    }
    30% {
        left: 10%;
        top: 290%;
    }
    40% {
        left: -56%;
        top: 290%;
    }
    50% {
        left: -56%;
        top: 450%;
    }

    60%, 80%, 100% {
        left: -56%;
        top: 450%;
    }
}
@keyframes drop6 {
    0% {
        left: 45%;
        top: 4%;
    }
    20% {
        left: 45%;
        top: 220%;
    }
    30% {
        left: 10%;
        top: 290%;
    }
    40% {
        left: -156%;
        top: 290%;
    }
    50% {
        left: -156%;
        top: 450%;
    }
    60%, 80%, 100% {
        left: -156%;
        top: 450%;
    }
}
@keyframes drop7 {
    0% {
        left: 45%;
        top: 4%;
    }
    20% {
        left: 45%;
        top: 219%;
    }
    30% {
        left: 8%;
        top: 290%;
    }
    40% {
        left: -256%;
        top: 290%;
    }
    50% {
        left: -256%;
        top: 450%;
    }
    60%, 80%, 100% {
        left: -256%;
        top: 450%;
    }
}