* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width:1024px;
    height:768px;
    background-color: rgba(255,0,0,0.3);
    position: relative;
    margin: 0 auto;
}
.grid {
    background: #008000;
    width: 100%;
    height: 100%;
    position: absolute ;
    z-index: 0;
}
.drawing {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.one-seventh-width {
    width: 14.2%;
    height: 100%;
    float: left;
}
.grid-formatting {
    background: #ffa500;
    outline: 1px solid #fff;
    height: 20%;
}
.db {
    height: 10%
}
.db-top1,
.db-top2,
.db-top3,
.db-top4,
.db-top5 {
    width: 90%;
    border: 1px solid #000;
    height: 100%;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 2%;
    background-color: rgba(220,70,70,0.8);
    z-index: 7;
    position: relative;
}
.db-top2,
.db-top3,
.db-top4,
.db-top5 {
    margin-top: -70px;
    background-color: rgba(220,70,70,0.1);
}
.db-top6 {
    margin-top: -76%;
    width: 90%;
    height: 100%;
    background-color: rgba(156,31,31,0.5);
    -webkit-clip-path: polygon(9% 69%,17% 58%, 20% 55%, 25% 51%,37% 45%, 48% 43%,57% 43%,
    59% 43%, 65% 44%, 72% 46%,78% 49%,84% 53%,90% 58%, 98% 69%, 93% 77%, 90% 80%, 86% 84%,
    86% 84%, 80% 88%, 78% 89%,70% 93%, 65% 95%, 61% 96%, 56% 97%, 47% 96%, 39% 95%, 31% 92%,
    25% 88%, 20% 84%, 15% 79%, 12% 75%);
    clip-path: polygon(9% 69%,17% 58%, 20% 55%, 25% 51%,37% 45%, 48% 43%,57% 43%,
    59% 43%, 65% 44%, 72% 46%,78% 49%,84% 53%,90% 58%, 98% 69%, 93% 77%, 90% 80%, 86% 84%,
    86% 84%, 80% 88%, 78% 89%,70% 93%, 65% 95%, 61% 96%, 56% 97%, 47% 96%, 39% 95%, 31% 92%,
    25% 88%, 20% 84%, 15% 79%, 12% 75%);
}
.funnel1 {
    width: 70%;
    border: 1px solid #000;
    height: 60%;
    border-radius: 50%;
    margin-top: 27%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #e4a615;
    z-index: 4;
    position: relative;
}

.funnel2 {
    margin-top: -14%;
    margin-left: 15%;
    margin-right: 15%;
    width: 71%;
    height: 60%;
    background-color: rgba(220, 70, 70, 0.5);
    z-index: 7;
    position: relative;
    -webkit-clip-path: polygon(0% 0%, 2% 6%, 9% 22%, 12% 27%, 20% 34%,30% 40%,50% 44%,
    70% 41%, 80% 34%, 85% 31%, 90% 24%, 95% 14%, 100% 4%, 73% 100%, 29% 100%);
    clip-path: polygon(0% 0%, 2% 6%, 9% 22%, 12% 27%, 20% 34%,30% 40%,50% 44%,
    70% 41%, 80% 34%, 85% 31%, 90% 24%, 95% 14%, 100% 4%, 73% 100%, 29% 100%)
}
.tube1, .tube6 {
    background-color: rgba(220, 70, 70, 0.5);
    margin-top: 0;
    margin-left: 35%;
    /* margin-right: 34%; */
    width: 32%;
    height: 100%;
    z-index: 7;
    position: relative;
}
.tube6 {
    height: 294%;
}
.tube2 {
    background-color: rgba(220, 70, 70, 0.5);
    margin-top: 0;
    margin-left: 67%;
    margin-right: 34%;
    width: 32%;
    height: 121%;
    transform: skew(45deg);
    border-top: 0;
    border-bottom: 0;
    z-index: 7;
    position: relative;
}
.tube3 {
    background-color: rgba(220,70,70,0.5);
    margin-top: 0%;
    margin-left: 113%;
    width: 236%;
    height: 53%;
    transform: skew(45deg);
    z-index: 7;
    position: relative;
}

.tube4, .tube8 {
    background-color: rgba(220, 70, 70, 0.5);
    margin-top: 0;
    margin-left: 3%;
    width: 32%;
    height: 121%;
    transform: skew(-45deg);
    z-index: 7;
    position: relative;
}
.tube8 {
    margin-left: 3%;
    height:121%;
}
.tube5 {
    background-color: rgba(220,70,70,0.5);
    margin-top: 0%;
    margin-left: -247%;
    width: 236%;
    height: 53%;
    transform: skew(-45deg);
    z-index: 7;
    position: relative;
}
.packet1, .packet2, .packet3, .packet4, .packet5, .packet6, .packet7 {
    width: 3%;
    height: 2%;
    background-color: #228b22;
    position: absolute;
    border-radius:4px;
    z-index: 5;
    animation-name: drop1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 6%;
    top: 6%;
}
.packet2 {
    animation-name: drop2;
    left: 20%;
    top: 6%;
    background-color: deepskyblue;
}
.packet3 {
    animation-name: drop3;
    left: 34%;
    top: 6%;
    background-color: beige;
}
.packet4 {
    animation-name: drop4;
    left: 48%;
    top: 6%;
    background-color: deepskyblue;
}
.packet5 {
    animation-name: drop5;
    left: 63%;
    top: 6%;
    background-color: red;
}
.packet6 {
    animation-name: drop6;
    left: 76.5%;
    top: 6%;
    background-color: deepskyblue;
}
.packet7 {
    animation-name: drop7;
    left: 91%;
    top: 6%;
    background-color: red;
}
@keyframes drop1 {
    0% {
        left: 6%;
        top: 6%;
    }
    20% {
        left: 6%;
        top: 36%;
    }
    30% {
        left: 17%;
        top: 51%;
    }
    50% {
        left: 48%;
        top: 51%;
    }
    100% {
        left: 48%;
        top: 100%;
    }
}
@keyframes drop2 {
    0% {
        left: 20%;
        top: 6%;
    }
    18% {
        left: 20%;
        top: 36%;
    }
    28% {
        left: 32%;
        top: 51%;
    }
    40% {
        left: 48%;
        top: 51%;
    }
    90% {
        left: 48%;
        top: 90%;
    }
    100% {
        left: 48%;
        top: 100%;
    }}
@keyframes drop3 {
    0% {
        left: 34%;
        top: 6%;
    }
    18% {
        left: 34%;
        top: 35%;
    }
    28% {
        left: 45%;
        top: 51%;
    }
    40% {
        left: 48%;
        top: 51%;
    }
    90% {
        left: 48%;
        top: 90%;
    }
    100% {
        left: 48%;
        top: 100%;
    }
}
@keyframes drop4 {
    0%   { left: 48%; top: 6%;   }
    18%  { left: 48%; top: 50%;  }
    28%  { left: 48%; top: 65%;  }
    40%  { left: 48%; top: 65%;  }
    90%  { left: 48%; top: 90%;  }
    100% { left: 48%; top: 100%; }
}
@keyframes drop5 {
    0% {
        left: 62.5%;
        top: 6%;
    }
    20% {
        left: 62.5%;
        top: 36%;
    }
    30% {
        left: 51.5%;
        top: 51%;
    }
    50% {
        left: 48%;
        top: 51%;
    }
    100% {
        left: 48%;
        top: 100%;
    }
}
@keyframes drop6 {
    0%   { left: 76.5%; top: 6%;   }
    18%  { left: 76.5%; top: 36%;  }
    28%  { left: 66%; top: 51%;  }
    40%  { left: 48%; top: 51%;  }
    90%  { left: 48%; top: 90%;  }
    100% { left: 48%; top: 100%; }
}
@keyframes drop7 {
    0%   { left: 91%; top: 6%;   }
    20%  { left: 91%; top: 36%;  }
    30%  { left: 79.5%; top: 51%;  }
    50%  { left: 48%; top: 51%;  }
    100% { left: 48%; top: 100%; }
}
